In [1]:
import pandas as pd

# Load The Dataset

In [2]:
df = pd.read_csv('log returns.csv')

Print first 5 rows of dataframe

In [3]:
df.head()

   Unnamed: 0       BTC       ETH      USDT      TUSD
0  2018-08-10 -0.059579 -0.100802  0.003980  0.000000
1  2018-08-11  0.009152 -0.030775 -0.003980 -0.009023
2  2018-08-12  0.010941 -0.003183  0.012878  0.007025
3  2018-08-13 -0.011144 -0.103991 -0.013875 -0.008032
4  2018-08-14 -0.007334 -0.030218  0.000998  0.017983

### Remove Unneccessary Coloumns

In [4]:
del df['Unnamed: 0']

In [5]:
df.head()

        BTC       ETH      USDT      TUSD
0 -0.059579 -0.100802  0.003980  0.000000
1  0.009152 -0.030775 -0.003980 -0.009023
2  0.010941 -0.003183  0.012878  0.007025
3 -0.011144 -0.103991 -0.013875 -0.008032
4 -0.007334 -0.030218  0.000998  0.017983

In [6]:
names = list(df)
names

['BTC', 'ETH', 'USDT', 'TUSD']

# Covariance

In [7]:
df.cov()

           BTC       ETH      USDT      TUSD
BTC   0.001437  0.001608  0.000063 -0.000026
ETH   0.001608  0.002648  0.000085 -0.000061
USDT  0.000063  0.000085  0.000024  0.000001
TUSD -0.000026 -0.000061  0.000001  0.000074

# Correlation

In [8]:
df.corr()

           BTC       ETH      USDT      TUSD
BTC   1.000000  0.824311  0.343421 -0.079728
ETH   0.824311  1.000000  0.341585 -0.136985
USDT  0.343421  0.341585  1.000000  0.025080
TUSD -0.079728 -0.136985  0.025080  1.000000

# The Most Risky Asset

#### ETH

# The Least Risky Asset

#### USDT

# Positive Corelations

BTC -- ETH <br>
BTC -- USDT <br>
ETH -- USDT <br>
USDT -- TUSD

# Negative Corelations

BTC -- TUSD <br>
ETH -- TUSD